/classes/
/lib/
/node_modules/
/target/
/deps/
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
figwheel_server.log
pom.xml
.*.swp
/build/
*.retry
/workspace/
package-lock.json
bitwalden-daemon
bitwalden-daemon.js
